body {
  text-align: center;
  color: black;
  font-family: "Trykker", serif;
  cursor: crosshair;
}

.App {
  font-size: 32px;
}

.cards {
  width: fit-content;
  height: fit-content;
  margin: 10px;
  padding: 20px;
  border-style: double;
  justify-content: space-evenly;
  text-align: left;
}

.Form {
  margin-left: 10px;
  text-align: center;
  font-size: 14px;
}

.Button {
  display: inline-block;
  padding: 10px 10px;
  font-size: 15px;
  font-family: "Trykker", serif;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline:none;
  color: black;
  background-color: #e1e9e2;
  border: none;
  border-radius: 120px;
  box-shadow: 0 5px rgb(255, 255, 255);
}

.Button:hover {
  background-color: rgb(97, 97, 97);
  color:white;
}

.Button:active {
  background-color: #dce2dc;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  width: 100%;
  max-width: 1700px;
}

p {
  font-size: large;
  font-family: monospace;
  background-color: rgb(255, 250, 250);
}

h3 {
  color: grey;
  font-size: medium;
}

.Footer{
  background-color: white;
  color: black;
  height: 40px;
  font-size: small;
  margin-top: 40px;
}

.gallery{
  margin:20px;
}

.table{
  color: white;
  background-color: white;
}