body {
  text-align: center;
  color: black;
  font-family: "Trykker", serif;
  cursor: crosshair;
}

.App {
  font-size: 25px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.cards {
  width: fit-content;
  height: fit-content;
  margin: 10px;
  padding: 20px;
  border-style: double;
  justify-content: space-evenly;
  text-align: left;
}

.Form {
  margin-left: 10px;
  text-align: center;
  font-size: 14px;
}

.Button {
  display: inline-block;
  padding: 0px 5px;
  margin: 5px;
  font-size: 18px;
  font-family: "Trykker", serif;
  cursor: pointer;
  text-align: center;
  color: black;
  background-color: rgb(218, 214, 207);
  border: none;
  box-shadow: 0 5px rgb(255, 255, 255);
}

.Button:hover {
  background-color: rgb(97, 97, 97);
  color: white;
}

.Button:active {
  background-color: #dce2dc;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  width: 100%;
  max-width: 1700px;
}

p {
  font-size: large;
  font-family: monospace;
  background-color: rgb(255, 250, 250);
}

.about{
    padding-left: 50px;
  padding-right: 50px;
}
h3 {
  color: grey;
  font-size: medium;
}

.Footer {
  background-color: white;
  color: black;
  height: 40px;
  font-size: small;
  margin-top: 40px;
}

.gallery {
  margin: 20px;
}

.table {
  color: black;
  background-color: white;
  font-size: 24px;
}

.main-body {
  flex-grow: 1;
}

.searcht {
  background-color: black;
  color: rgb(194, 191, 191);
  font-size: 14px;
}
