@import url("https://fonts.googleapis.com/css2?family=Trykker&display=swap");
@import url("https://www.w3schools.com/w3css/4/w3.css");

body {
  background-color: black;
  font-family: "Trykker", serif;
}

.subject{
  color: rgb(214, 211, 211);
  font-size: 24px;
  font-family: "Trykker";
  font-weight: bold;
}
.navbar {
    background-color: white;
    height: fit-content;
    justify-content: space-around;   
    display: flex;
}

.table{
  margin-left: auto;
    margin-right: auto;
    border-style:double;
}

