@import url("https://fonts.googleapis.com/css2?family=Trykker&display=swap");
@import url("https://www.w3schools.com/w3css/4/w3.css");

body {
  background-color: black;
  font-family: "Trykker", serif;
}

.App a {
  font-family: sans-serif;
  text-align: center;
  color: white;
  font-weight: bold;
  text-decoration: underline;
  font-family: "Trykker", serif;
  font-size: 32px;
}
  
.navbar {
    background-color: rgb(88, 193, 235);
    height: fit-content;
    justify-content: space-around;   
    display: flex;
}